src/main/resources/sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://purl.oclc.org/dsdl/schematron"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <sch:pattern>
        <sch:rule context="end">
            <assert test=". &gt; preceding-sibling::start">
                The end page cannot be less than the start page
            </assert>
        </sch:rule>
    </sch:pattern>
</sch:schema>